body{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;  
    font-family: "Roboto";
}
a{
    text-decoration: none;
    color: #F9FAF8;
    font-size: 18px;
}

.hero{
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 0 200px 100px;
    
}
.nav{
    display: flex;
    justify-content:space-between;
    margin: 15px 0 100px 0;
}
.nav-logo > p{
    font-size: 24px;
    font-weight: 700;
    margin: 0;
}
.nav-menu{
    display: flex;
    gap: 30px;
    padding: 0;
    
}
.nav-menu > p{
    margin: 0;
}





.hero-content{
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: end;
}
.hero-content-right{
    display: flex;
    align-items: center;
    flex-shrink: 0;
}
.hero-content-right > img{
    border-radius: 8px;
}
/* find a way to make her0 left each spaced to content width and lock in the positions */
.hero-content-left > h1{
    font-size: 48px;
    color: #F9FAF8;
    margin: 0 0 10px 0;
}
.hero-content-left > p{
    color: #F9FAF8;
    font-size: 18px;
    margin: 0 0 10px 0;
}
.hero-content-left > button{
    background-color: #3882F6;
    border: none;
    border-radius: 8px;
    padding: 6px 35px;
    color: #F9FAF8;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 18px;
}


.body-title{
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}
.body-info{
    text-align: center;

}
.body-box-container{
    display: flex;
    justify-content: center;
    gap: 40px;
    margin-bottom: 114px;
}
.body-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.body-box > p{
    margin: 10px 0 0 0;
    max-width: 145px;
    font-size: 16px;
    color: #1F2937;
}
.body-border-box{
    border: solid #3882F6 3px;
    width: 140px;
    height: 140px;
    border-radius: 15px;
}





.quote{
    display: flex;
    flex-direction: column;
    height: 438px;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    padding: 0 350px;
    gap: 10px;
}
.quote-body{
    width: 800px;
}
.quote-body > p {
    margin: 0;
    font-style:italic; 
    color: #1F2937;
    font-size: 36px;
    font-weight: 300;
}
.quote-cite{
    align-self: flex-end;
    font-size: 24px;
    
}
.quote-cite > p{
    margin: 0;
    font-weight: bolder;
}





.action{
    height: 338px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.action-box{
    background-color: #3882F6;
    color: #E5E7EB;
    border-radius: 10px;
    display: flex;
    gap: 40px;
    height: 130px;
    width: 70%;
    justify-content: space-around;
}
.action-header{
    font-size: 25px;
    font-weight: bolder;
}
.action-left{
    align-self: center;
}
.action-right{
    align-self: center;
}
.action-right > button{
    background-color: #3882F6;
    border: 3px solid white;
    border-radius: 8px;
    padding: 6px 35px;
    color: #F9FAF8;
    font-family: "Roboto";
    font-weight: 600;
    font-size: 18px;
}





.footer{
    display: flex;
    color: #E5E7EB;
    width: 100%;
    margin: auto;
    background-color: #1F2937;
    height: 75px;
    justify-content: center;
    align-items: center;
}